

.posterImagen > img {
    margin: auto;
    display: block;
    width: 100%;
}

.posterImagen__overlay {
    position: absolute;
    padding: 2rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
    margin-top: -100px;
    

}   

.posterImagen__overlay:hover {
    opacity: 1;
}

.posterImagen__titulo {
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0.4rem;
    text-align: left;
    color: bisque;
    background-color: black;
    opacity: 0.6;
}

.posterImagen__runtime {
    font-size: smaller;
    margin-bottom: 1rem;
    color: bisque;
    background-color: black;
    opacity: 0.6;
}


.posterImagen__rating {
    margin-left: 3rem;
    color: bisque;
}


.posterImagen__descripcion {
    font-style: italic;
    font-size: smaller;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    color: white;
    background-color: black;
    opacity: 0.6;
}

