.contenedorDetalle{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col{
    max-width: 400px;
    margin: 15px;
    height: auto;
    width: 80%;
    border-radius:15px ;
}

.peliculaDetalle{
    font-size: 1.5rem;
}

.item{
    margin-top:0;
}



#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupa el 100% del alto de la ventana */
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(154, 179, 173);
}

/* Estilos para los elementos dentro de #main */
h1 {
    font-size: 50px;
    text-align: center;
}

input, label, button {
    font-size: 20px;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 5%;
    text-align: center;
}

#error {
    color: red;
    font-size: 30px;
    text-align: center;
}

#resultado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 30px;
}