

/* Estilos para los enlaces */
.headerLeft {
    display: flex;
    gap: 1rem;
    width: 100%;
    /* Ocupa todo el ancho disponible */
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilos específicos para los últimos tres enlaces */
.headerLeft>a:nth-last-child(-n+3) {
    text-decoration: none;
    display: block; /* Asegura que los enlaces ocupen todo el ancho disponible */
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 1px; /* Agrega un espacio vertical de 20 píxeles*/
}

a{
font-size: 20px;
font-family: sans-serif;
font-weight: 900;
text-decoration: none;

}

img{
    width: 200;

    margin-top: -35px;

}