body{background-image: url("/Netflix-background_860jpg.jpg");
  
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("/Netflix-background_860jpg.jpg");
}
.viewtrailer{
    min-height:700px;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: flex-end;
    /* Estilo para todo el texto */

    font-family: sans-serif;

  
}
.boton{background-color: black;
color: bisque;outline: none;
 border: 1px solid white;
cursor:pointer; 
margin-bottom: 10px;
}
.boton-mirar{background-color: black;
    color: bisque;outline: none; border: 1px solid white;
    cursor:pointer; 
    margin-bottom: 10px;}
.reproductor{
    width: 100%;
    height: 600px;
}
/* Estilo para los botones */
button {
    color: white;
    background-color: red; /* Color rojo para los botones */
    border: none; /* Sin bordes */
    padding: 5px 10px; /* Espaciado interno */
    margin-left: 0; /* Sin espaciado externo a la izquierda */
    height: 45px;
    width: 75px;
  }
  
  /* Estilo para el campo de entrada */
  input {
    color: black; /* Letras negras */
    background-color: white; /* Fondo blanco */
    border: none; /* Sin bordes */
    padding: 5px 10px; /* Espaciado interno */
    margin-right: 0; /* Sin espaciado externo a la derecha */
    height: 35px;
    width: 400px;
  }
  
  /* Centrar el contenido */
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Alineación al centro */
    margin: 100px;
    margin-top: 80px;
  }
  /* Estilo para el div con clase "Text" */
.Text {
    color: white; /* Letras blancas */
    text-align: center; /* Centrar el texto */
    margin-top: 175px;
    height: 110px;
    font-family: sans-serif;
    font-weight: 700;
  }
  
  /* Estilo para los títulos h2, h4 y h6 dentro del div "Text" */
  .Text h2,
  .Text h4,
  .Text h6 {
    margin: 0; /* Eliminar márgenes para que estén bien centrados */
    font-weight: bold; /* Texto en negrita */
    line-height: 1.2; /* Espaciado entre líneas */
  }
  /* Estilos para el contenedor principal */
main {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
  }
  
  /* Estilos para la vista de la película (primer elemento) */
  .viewtrailer {
    width: 100%;
    height: 100%;
  }
  
  /* Estilos para el reproductor de YouTube */
  .reproductor {
    width: 100%;
    height: 100%;

  }
  
  /* Estilos para el botón "Cerrar" */
  .boton {
 
    color: white;
    background-color: red; /* Color rojo para los botones */
    border: none; /* Sin bordes */
    padding: 5px 10px; /* Espaciado interno */
    margin-left: 0; /* Sin espaciado externo a la izquierda */
    width: 143px;

  }
  
  /* Estilos para el contenedor de los elementos pequeños */
  .container {
    width: 100%;
    height: 100%;
  }
  
  /* Estilos para los elementos pequeños */
  .elemento-pequeno {
   
    width: 100%;
    height: 100%;
  }
  
  /* Estilos para el botón "Reproducir tráiler" */
  #boton-mirar {
    color: white;
    background-color: red;
    margin: 5px;
  }
  
  /* Estilos para el título de la película */
  
 /* Estilos para el contenedor de las tarjetas */
.Card-abajo {
  display: ruby-text;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    margin-top: 100px;
  }

  /* Estilos para cada tarjeta 
  .Card-abajo > div {
    flex: 1;
    max-width: calc(100% - 100px); /* Ancho máximo para cada tarjeta 
    margin: 5px;
    
  }*/
  
  .colorTitle{
    color: aliceblue;
    background-color: black;
    padding: 20px;
    margin-top: auto;

  }

  h1{
    margin: 0px;
  }



.botonlanding{
  height: auto;
}

#inputlanding{
  height: auto;
}

button{
  height: auto;
}

input{
  height: auto;
}