*{background-color: rgb(133, 127, 127);}
.viewtrailer{
    min-height:700px;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: flex-end;
}
.boton{background-color: black;
color: bisque;outline: none;
 border: 1px solid white;
cursor:pointer; 
margin-bottom: 10px;
}
.boton-mirar{background-color: black;
    color: bisque;outline: none; border: 1px solid white;
    cursor:pointer; 
    margin-bottom: 10px;}
.reproductor{
    width: 100%;
    height: 600px;
}
