.moviesGrid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupa el 100% del alto de la ventana */
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(154, 179, 173);


    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 30px;

    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Estilos para los elementos dentro de #main */
h1 {
    font-size: 50px;
    text-align: center;
}

input, label, button {
    font-size: 20px;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 5%;
    text-align: center;
}

#error {
    color: red;
    font-size: 30px;
    text-align: center;
}

#resultado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 30px;
}